<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://steamcdn-a.akamaihd.net/steam/apps/578080/header.jpg?t=1545084399"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Games</ion-card-subtitle>
        <ion-card-title>PLAYERUNKNOWN'S BATTLEGROUNDS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>PlayerUnknown's Battlegrounds é um jogo eletrônico multiplayer desenvolvido pela PUBG Corp., subsidiária da produtora coreana Bluehole, utilizando o motor de jogo Unreal Engine 4.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
